/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$base-color: #181F22;
$input-color: #181F22;

$base-background-color: #f4f4f4;
$font-size-base: 16px;
$base-grey: #788084;

$positive: #1db989;
$light: #fff;

$button-light-text: $positive;
$button-light-border: #fff;

$button-height: 51px;
$button-font-size: 18px;

$bar-stable-bg: $positive;
$bar-stable-text: $light;
$bar-stable-border: #fff;

$bar-light-bg: #f5f5f5;

$tab-item-max-width: 100%;

$tabs-striped-border-width: 4px;

$item-default-text: #181F22;
$item-thumbnail-width: 50px;
$item-thumbnail-height: 50px;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../ionic/fonts" !default;

$bar-height: 54px;
$bar-footer-height: 88px;
$font-family-sans-serif: "Roboto-Regular", "Roboto", "Segoe UI", sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.4;

// Include all of Ionic
@import "app/ionic/scss/ionic";

h4, .h4 { font-size: 20px; font-weight: 400; }

.button.disabled,
.button[disabled] {
  opacity: 1;
  background-color: #d7dddb;
}

.button.button-positive.button-clear {
  color: #21ce99;
}

textarea {
  border-bottom: 1px solid $positive;
  padding-bottom: 8px;
}

.content-container {
  background-color: #fff;
  padding: 22px 16px;
}

.item-input {
  border-width: 0;
  padding: 6px 5px 5px 16px;
}

.item-input > input {
  border-bottom: 1px solid $base-grey;
}

.item-input > select {
  border-bottom: 1px solid $base-grey;
  color: $input-color;
}

.item-input > input:focus {
  border-color: $positive;
}

.item-input > select:focus {
  border-color: $positive;
}

.icon-active {
  color: $positive !important;
}

input[readonly]:not(.cloned-text-input) {
  border-bottom: 1px solid $base-grey !important;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #21ce99;
}

.item-avatar .item-content,
.item-avatar-left .item-content {
  min-height: 40px;
  padding-left: 57px;
}

.tabs-top > .tabs,
.tabs.tabs-top {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-bottom-width: 0px !important;
  border-top: 1px solid white !important;
}

button.small-icon:before {
  font-size: 20px !important;
}

.popup-buttons .button {
  padding: 0px 6px;
}

.platform-ios.platform-cordova {
  // iOS has a status bar which sits on top of the header.
  // Bump down everything to make room for it. However, if
  // if its in Cordova, and set to fullscreen, then disregard the bump.
  &:not(.fullscreen) {
    .bar-subheader {
      top: 0px;
    }
  }
}

.bar .button.back-button, .bar button.back-button {
  margin-left: 15px;
}

.button-full-rounded {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 2px 4px 0 #a8a8a8;
  font-weight: 500 !important;
  font-size: 18px !important;
}

.rounded-image {
  border-radius: 50%;
}

.item-select {
  color: $positive !important;
}

.item-thumbnail-left > div.image:first-child {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

.item-with-border {
  padding: 10px 16px;
  border: 1px solid #d7dddb;
}

.item-text {
  color: #181f22 !important;
  font-size: 14px !important;
  font-weight: 500;
}

ul.item-text > li {
  color: #000;
}

.header-caption {
  color: #788084 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}

.item-caption {
  color: #788084 !important;
  font-size: 14px !important;
}

.top-row {
  padding: 0px;
  margin: 5px;
}

.pool-review-icon.icon{
  font-size: 16px;
  color: #788084;
  align-items: flex-start;
  padding: 10px 0px;
}

.pool-review-header {
  height: 80px;
}

.item-small-icon.item-icon-right {
  padding-right: 34px;
}

.item-small-icon.item-icon-right .icon{
  right: 2px;
}

.item-top-divider {
  border-top: 7px solid #eeeeee;
}

.bar .title {
  margin: 0 20px;
}

.item-checkbox {
  padding-left: 40px;
}

.checkbox {
  padding-right: 0px;
  padding-left: 0px;
}

.item-checkbox .checkbox {
  right: 0px;
  left: 0px;
}

/***********************************/

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .main-nav-view {
    width: 40%;
    max-width: 720px;
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-nav-view {
    width: 40%;
    max-width: 720px;
    margin-left: 30%;
    margin-right: 30%;
  }
}

.m10 {
  margin: 10px;
}

.m-lr-10 {
  margin: 0px 10px;
}

.m20 {
  margin: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.item .item-input .assertive > input.ng-invalid {

}

.m-auto {
  margin: auto 0px;
}

.full-height {
  height: 100%;
}

.word-wrap {
  word-wrap: break-word;
}

.word-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.full-image {
  width: 100%;
}

.pool-name-input-label {
  padding: 0px !important;
}

.pool-item-header-caption {
  font-size: 16px !important;
}

.pool-paypal-input-label {
  padding: 0px 34px !important;
}

.pool-location-select-label {
  padding: 22px 44px 40px 44px;
}

.pool-location-select-label:after {
  right: 50px;
  margin-top: -10px;
  border-top: 6px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

select.pool-location-select {
  height: 35px;
  width: 100%;
  position: relative;
  max-width: 100%;
  direction: ltr;
  padding: 0 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

select.select-placeholder {
  color: #788084;
}

.no-padding {
  padding: 0px !important;
}

.item-checkbox-no-spacing {
  padding: 8px 60px 8px 2px !important;
  min-height: 24px !important;
}

.item-lottery-body {
  color: #181f22 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.item-lottery-caption {
  font-size: 12px !important;
}

.item-avatar.item-checkbox-no-spacing .item-content > img:first-child {
  left: 2px;
  top: 8px;
}

.register-user-avatar {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}

.profile-user-avatar {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}

.gallery-wrapper {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-img-wrapper {
  position: relative;
  float: left;
}

.gallery-img {
  height: 100%;
  width: 100%;
}

.desktop-image-fix {
  max-width: 600px;
  margin: 0px auto;
  display: block;
}

.pools-top-content-offsets {
  margin: 10px 10px 0px 10px;
}

p.pools-top-qt {
  margin: 0px;
}

p.green-text {
  color: rgb(40, 165, 76);
}

p.red-text {
  color: rgb(228, 33, 18);
}

.item .item-content.activated {
  background-color: #fff;
  border: 0;
}

.facebook-link {
  color: #3b5998 !important;
}

a.navigate-link {
  //color: rgb(40, 165, 76);
  float: right;
  margin: 10px 10px 10px 10px;
}

a.navigate-link.center {
  text-align: center;
  float: none;
  display: block;
  margin: 0 auto;
}

button.button-in-footer {
  width: 100%;
  //height: 20%;
  position: absolute;
  bottom: 0px;
}

#logo-image {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#terms-of-policy {
  margin-top: 20%;
}

/*div.pool-agreement-wraper > p {*/
/*overflow: auto;*/
/*!*height: calc(100% - 400px); !*168*!*!*/
/*}*/

/*div.list-inset.padding-list {*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 20px 10px;*/
/*}*/

.scroll-content-wrapper {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.scroll-content-wrapper .header {
  flex-shrink: 0;
}

.scroll-content-wrapper .scroll-content {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.scroll-content-wrapper .footer {
  flex-shrink: 0;
}

.pool-join-button {
  margin: 0px auto;
  display: block;
}

.pool-join-button-agree {
  width: 70%;
}

.pool-join-button-back {
  width: 40%;
}

.balance-block {
  padding: 5px;
  margin: 0 0 5px 0;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #f7f7f7;
  text-align: center;
}

.pool-chat-card {
  height: calc(100% - 195px);
  background: #f7f7f7;
  overflow: auto;
}

.pool-chat-input-group {
  padding: 0px;
}

/**** chat ****/

.messages {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.messages li {
  display: block;
  clear: both;
  max-width: 50%;
  margin: 0 0 1rem 0;
  padding: 0;
}

.messages li.your-message {
  float: right;
}

.messages li.your-message img {
  float: right;
}

.messages div.message-content {
  border-radius: .75rem;
  background: #e6e5eb;
  color: #383641;
  padding: .6875rem;
  margin: 0 0 0 45px;
  font-size: .875rem;
}

.messages li.your-message div.message-content {
  background: #158ffe;
  color: #fff;
  margin: 0;
}

.messages img {
  display: block;
  max-width: 65%;
  border-radius: .75rem;
}

img.message-avatar {
  float: left;

  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.messages li.your-message img.message-avatar {
  float: right;
}

.contacts-list {
  display: block;
}

.contacts-char {
  display: inline-block;
  vertical-align: top;
  width: 10%;
}

.contacts-alphabet {
  isplay: block;
  font-weight: 600;
  color: $positive;
  margin: 5px 10px;
  line-height: 50px;
  font-size: 22px;
}

.contacts-item {
  border-color: #e5e5e5;
}

.contacts-item-img {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}

.contacts-item-action {
  margin: 5px;
  float: right;
  color: $positive;
}

.search-input-header {
  background-color: $positive !important;
  position: fixed;
}

.button-round {
  position: absolute;
  top: calc(100% - 200px);
  right: 40px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background: rgba(228, 33, 18, .6);
  cursor: pointer;
  border-radius: 60%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
}

.button-round-line-one {
  position: absolute;
  background-color: white;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -2px;
}

.button-round-line-two {
  position: absolute;
  background-color: white;
  width: 4px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -10px;
}

.bar-subheader {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.subheader-container {
  display: inherit;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%
}

.subheader-button-2, .subheader-button-3 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
  width: 50%;
  height: 100%
}

.subheader-button-3 {
  width: 33.3333%;
}

.underline-button {
  position: absolute;
  width: 80%;
  height: 2px;
  top: 40px;
  left: 10%;
  background: white;
}

/**************pools page****************/

.pools-content-list .item-content {
  padding: 0px;
}

.pools-content-list .card {
  margin: 10px 0;
  padding: 0;
}

.pool-img, .pool-friend-img, .pool-info-img {
  left: 2px;
  top: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.pool-friend-img {
  max-width: 20px;
  max-height: 20px;
}

.pool-info-img {
  max-width: 80px;
  max-height: 80px;
}

.pools-info-container {
  display: block;
  width: 100%;
  margin-left: 10px;
}

.pools-info-row {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pools-info-col {
  display: block;
  width: 100%;
  margin: 0;
}

#pools-info-name {
  font-size: 10pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#pools-info-join {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  text-align: right;
  display: block;
}

#pools-info-members {
  font-size: 8pt;
  margin: 0;
  padding: 0;
}

#pools-info-title {
  font-size: 7pt;
  margin: 0;
}

#pools-info-date {
  font-size: 7pt;
  margin: 0;
  text-align: right;
  display: block;
}

.pools-friends-container {
  background: #eee;
  margin: 0;
  padding: 0;
}

.pools-friends-img {
  display: block;
  padding: 5px;
  margin: 0px;
}

.pools-friends-info-container {
  display: block;
  padding: 5px;
  margin: 0px;
}

.pools-friends-info {
  font-size: 8pt;
  margin: 0px !important;
}

/**************pool info****************/
.pool-info-row-part-left {
  min-width: 100px;
}

.pool-info-row-part-right {
  min-width: 60px;
  width: 100%;
}

p.text-small-grey {
  font-size: 12px;
  color: grey;
}

p.text-small-black {
  font-size: 12px;
  color: black;
}

.inline-block {
  display: inline-block;
}

.a-buy-in {
  font-size: 10px;
  width: 90px;
  margin: 15px
}

.pool-card-join-button {
  padding-bottom: 20px;
}

.my-pools-blank-div {
  height: 100%;
  z-index: 5;
  position: relative;
}


/******************************/
.button.button-fab {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 20;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow;
}

.button.button-fab.button-fab-bottom-right {
  top: auto;
  right: 16px;
  bottom: 16px;
  left: auto;
  position: absolute;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
}