<ion-view>
    <ion-nav-title>
        Pool name
    </ion-nav-title>
    <ion-content class="padding content-container">
        <form novalidate="">
            <h4 ng-if="!pool.isEdit" class="text-center">Let's give your pool a name</h4>

            <div class="item item-thumbnail-left">
                <!--<img class="rounded-image" ng-src="{{pool.poolObj.imageUrl || './img/empty.png'}}" ng-click="pool.addImage()">-->
                <div class="image rounded-image" ng-click="pool.addImage()"
                     ng-style="{
                         width: '50px',
                         height: '50px',
                         'background-image': 'url(' + (pool.poolObj.imageUrl || './img/empty.png') + ')',
                         'background-position': 'center center',
                         'background-repeat': 'no-repeat',
                         'background-size': 'cover'
                     }"
                ></div>

                <input id="pool-image-file-input" type="file" style="display: none;"
                       onchange="angular.element(this).scope().pool.onFileInputChange(this)"
                       accept="image/*;capture=camera">

                <label class="item-input pool-name-input-label">
                    <input type="text" class="pool-name-input" placeholder="Pool name" ng-model="pool.poolObj.title"
                           focus-me required>
                </label>
            </div>


            <button class="button button-full-rounded button-positive mt20"
                    ng-click="pool.isEdit ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.type')"
                    ng-disabled="!pool.poolObj.title.length">
                {{pool.isEdit ? 'SAVE' : 'CONTINUE'}}
            </button>
        </form>
    </ion-content>
</ion-view>