<ion-view>
    <ion-nav-title>
        Location
    </ion-nav-title>
    <ion-content class="padding content-container text-center">
        <h4 ng-if="!pool.isEdit" class="text-center">Where are you located?</h4>

        <!--<span class="button button-clear button-positive icon-left ion-android-pin"-->
        <!--ng-click="poolLoc.getLocation()">Determine my location-->
        <!--</span>-->

        <label class="item item-input item-select pool-location-select-label">
            <select ng-model="pool.poolObj.state" class="pool-location-select"
                    ng-class="{'select-placeholder': pool.poolObj.state == 'All'}" focus-me required>
                <option value="All" selected style="color: #788084;">Select the State</option>
                <option ng-repeat="item in pool.states" value="{{item.name}}" style="color: #181F22;">{{item.name}}
                </option>
            </select>
        </label>

        <button class="button button-full-rounded button-positive"
                ng-click="pool.isEdit && !pool.stateParams.fromLotteries && pool.poolCopy.state == pool.poolObj.state ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.lotteries', {edit: pool.isEdit})"
                ng-if="pool.poolObj.state">
            {{pool.isEdit ? 'SAVE' : 'CONTINUE'}}
        </button>
        <button class="button full-image button-clear button-positive"
                ng-click="pool.isEdit && !pool.stateParams.fromLotteries && pool.poolCopy.state == pool.poolObj.state ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.lotteries', {edit: pool.isEdit})"
                ng-if="!pool.poolObj.state">
            {{pool.isEdit ? 'Cancel' : 'Skip'}}
        </button>
    </ion-content>
</ion-view>