<ion-view>
    <ion-nav-title>
        Invite friends
    </ion-nav-title>
    <ion-content class="padding content-container" ng-class="{'has-footer': pool.getInvitedFriends().length}">
        <ion-list>
            <div ng-repeat="friend in pool.friends | orderBy: 'id' as filtered track by friend.id">
                <ion-checkbox class="item-checkbox-right checkbox-positive item-avatar item-checkbox-no-spacing"
                              ng-model="pool.friendsToInvite[friend.id]">
                    <img class="contacts-item-img" ng-src="{{::friend.imageUrl || './img/blank_avatar.jpg'}}">
                    <p class="item-lottery-body">{{::friend.name}}</p>
                </ion-checkbox>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar ng-if="pool.getInvitedFriends().length" align-title="left" class="bar-light">
        <button class="button button-full-rounded button-positive m10"
                ng-click="pool.inviteFriends()">
            <span class="badge badge-positive">{{pool.getInvitedFriends().length}}</span> INVITE TO POOL
        </button>
    </ion-footer-bar>
</ion-view>