<ion-view>
    <ion-nav-title>
        Pool rules
    </ion-nav-title>
    <ion-content class="padding content-container">
        <h4 ng-if="!pool.isEdit" class="text-center">Let's set some rules</h4>
        <p class="text-center header-caption">General rules give you more control over the pool. New members will be informed and agree with them before
            joining the pool.</p>

        <label class="item item-input mt20">
            <textarea placeholder="Type rules" ng-model="pool.poolObj.rules" rows="1" msd-elastic focus-me required></textarea>
        </label>

        <button class="button button-full-rounded button-positive"
                ng-click="pool.isEdit ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.tickets')"
                ng-if="pool.poolObj.rules">
            {{pool.isEdit ? 'SAVE' : 'CONTINUE'}}
        </button>
        <button class="button full-image button-clear button-positive"
                ng-click="pool.isEdit ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.tickets')"
                ng-if="!pool.poolObj.rules">
            {{pool.isEdit ? 'Cancel' : 'Skip'}}
        </button>
    </ion-content>
</ion-view>