<ion-view>
    <ion-nav-title>
        How to play
    </ion-nav-title>
    <ion-content class="padding content-container">
        <h4 ng-if="!pool.isEdit" class="text-center">How can players take part in the games?</h4>

        <ion-list>
            <ion-checkbox class="checkbox-positive" ng-model="pool.poolObj.ticketsSettings.own">Add their own tickets
            </ion-checkbox>
            <ion-checkbox class="checkbox-positive" ng-model="pool.poolObj.ticketsSettings.ask">Ask me to buy tickets
                for them
            </ion-checkbox>
        </ion-list>

        <button class="button button-full-rounded button-positive"
                ng-click="pool.isEdit ? navigate('pool.review', null, null, {edited: true}) : (pool.poolObj.ticketsSettings.ask ? navigate('pool.money') : navigate('pool.review'))"
                ng-if="pool.hasTicketsSettings()">
            {{pool.isEdit ? 'SAVE' : 'CONTINUE'}}
        </button>
    </ion-content>
</ion-view>