<ion-view>
    <ion-nav-title>
        Pools list
    </ion-nav-title>
    <ion-content>
        <ion-list class="pools-content-list">
            <ion-item class="list card" ng-repeat="poolItem in pools.poolsList track by poolItem.id"
                      ui-sref="pool.review({poolId: poolItem.id})" ui-sref-opts="{reload: true}">
                <div class="item item-avatar ">
                    <img class="pool-img" ng-src="{{::poolItem.imageUrl || './img/blank_avatar.jpg'}}">
                    <div class="row no-padding">
                        <div class="col col-66 no-padding">
                            <h3 class="pool-item-header-caption">{{::poolItem.title}}</h3>
                            <p>{{::poolItem.membersCount}} members{{(poolItem.isPrivate && ', private') || ''}} </p>
                            <p class="text-small-grey">{{::poolItem.lotteryNames}}</p>
                        </div>
                        <div class="col col-33 no-padding text-right">
                            <!--<div class="pool-card-join-button">-->
                                <!--<a ng-href="#/menu/pools/{{::poolItem.id}}/join">JOIN</a>-->
                            <!--</div>-->
                            <p ng-show="poolItem.lotteryNames" class="text-small-grey">{{poolItem.nextDraw | date:'EEE, d MMM'}}</p>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-assertive icon ion-android-add"
            ng-click="pools.createPool()">
    </button>
</ion-view>