<ion-view>
    <ion-nav-title>
        Recieve money
    </ion-nav-title>
    <ion-content class="padding content-container">
        <h4 ng-if="!pool.isEdit" class="text-center">How do you want to receive money from players?</h4>

        <ion-list>
            <ion-checkbox class="checkbox-positive" ng-model="pool.poolObj.moneySettings.cash">Cash</ion-checkbox>
            <ion-checkbox class="checkbox-positive" ng-model="pool.poolObj.moneySettings.paypal">Paypal</ion-checkbox>
            <label ng-if="pool.poolObj.moneySettings.paypal" class="item-input pool-paypal-input-label">
                <input type="text" placeholder="Link to your Paypal account" ng-model="pool.poolObj.paypal" focus-me required>
            </label>
        </ion-list>

        <p class="text-center header-caption">
            Your payment details are only be visible to the pool members. You can set up who can see them later in the Settings.
        </p>

        <button class="button button-full-rounded button-positive"
                ng-click="navigate('pool.review', null, null, {edited: true})"
                ng-if="pool.hasMoneySettings()">
            {{pool.isEdit ? 'SAVE' : 'CONTINUE'}}
        </button>
    </ion-content>
</ion-view>