<ion-view>
    <ion-nav-title>
        Pool created
    </ion-nav-title>
    <ion-content class="padding content-container">
        <h4 class="text-center">Congratulations!</h4>

        <p class="text-center header-caption">You have created <strong>{{pool.poolObj.title}}</strong> lotto pool.</p>

        <button class="button button-full-rounded button-positive"
                ng-click="navigate('pool.friends')">
            INVITE FRIENDS
        </button>
        <button class="button full-image button-clear button-positive"
                ng-click="pool.skipInvite()">
            Skip
        </button>
    </ion-content>
</ion-view>