<ion-view>
    <ion-nav-title>
        Lottos
    </ion-nav-title>
    <ion-content class="padding content-container">
        <h4 ng-if="!pool.isEdit" class="text-center">Choose lottos to play</h4>
        <p class="text-center header-caption">Lotteries available in
            <a ng-click="navigate('pool.location', {edit: pool.isEdit, fromLotteries: true})">
            {{pool.poolObj.state != 'All' && pool.poolObj.state || 'every state'}}</a>
        </p>

        <ion-list>
            <div ng-repeat="lottery in pool.lotteries | filter:pool.lotteriesSearch | orderBy: [pool.lotteriesSort, 'name'] track by lottery.id">
                <ion-checkbox class="item-avatar checkbox-positive item-checkbox-right item-checkbox-no-spacing"
                              ng-model="pool.poolObj.lotteries[lottery.id]">
                    <!--<img class="pool-img" ng-src="{{::lottery.imageUrl || './img/blank_avatar.jpg'}}">-->
                    <div class="image pool-img"
                        ng-style="{
                            left: '2px',
                            top: '8px',
                            display: 'inline-block',
                            width: '40px',
                            height: '40px',
                            'background-image': 'url(' + (lottery.imageUrl || './img/empty.png') + ')',
                            'background-position': 'center center',
                            'background-repeat': 'no-repeat',
                            'background-size': 'contain'
                        }">
                    </div>
                    <p class="item-lottery-body">{{::lottery.name}}</p>
                    <p class="item-caption item-lottery-caption">{{::lottery.next_result_date}}</p>
                </ion-checkbox>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <button class="button button-full-rounded button-positive m10"
                ng-click="pool.isEdit ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.rules')"
                ng-disabled="!pool.hasLotteries()">
            {{pool.isEdit ? 'SAVE' : 'CONTINUE'}}
        </button>
    </ion-footer-bar>
</ion-view>