<ion-view>
    <ion-nav-title>
        Review and confirm
    </ion-nav-title>
    <ion-content class="has-footer" style="padding-top: 0px;">
        <ion-list>
            <div class="item item-thumbnail-left item-icon-right item-small-icon pool-review-header">
                <!--<img class="pool-info-img" ng-src="{{pool.poolObj.imageUrl || './img/blank_avatar.jpg'}}">-->
                <div class="image rounded-image"
                     ng-style="{
                         width: '55px',
                         height: '55px',
                         'background-image': 'url(' + (pool.poolObj.imageUrl || './img/empty.png') + ')',
                         'background-position': 'center center',
                         'background-repeat': 'no-repeat',
                         'background-size': 'cover'
                     }"
                ></div>
                <h2 style="padding-top: 15px;font-size: 20px;font-weight: 600;">{{pool.poolObj.title}}</h2>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.name', {edit: true})"></i>
            </div>

            <div class="item item-with-border item-input item-icon-right item-small-icon item-top-divider">
                <p class="input-label item-caption">Pool type</p>
                <p class="item-text">{{pool.poolObj.isPrivate && 'Private' || 'Public'}}</p>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.type', {edit: true})"></i>
            </div>

            <div class="item item-text-wrap item-with-border item-icon-right item-small-icon">
                <p class="item-caption">Description</p>
                <p class="item-text">{{pool.poolObj.description}}</p>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.description', {edit: true})"></i>
            </div>

            <!--<div class="item item-with-border item-input item-icon-right item-small-icon" style="padding: 0px 16px;">-->
                <!--<p class="input-label item-caption">Pool leader</p>-->
                <!--<img class="contacts-item-img"-->
                     <!--ng-src="{{pool.poolObj.leader.imageUrl || './img/blank_avatar.jpg'}}">-->
                <!--<p class="item-text inline-block">{{pool.poolObj.leader.name}}</p>-->
                <!--&lt;!&ndash;<i class="icon ion-edit pool-review-icon"></i>&ndash;&gt;-->
            <!--</div>-->

            <div class="item item-with-border item-input item-icon-right item-small-icon item-top-divider">
                <p class="input-label item-caption">State</p>
                <p class="item-text">{{pool.poolObj.state}}</p>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.location', {edit: true})"></i>
            </div>

            <div class="item item-text-wrap item-with-border item-icon-right item-small-icon">
                <p class="item-caption">Lottos</p>
                <p class="item-text">{{pool.getPoolLotteriesNames()}}</p>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.lotteries', {edit: true})"></i>
            </div>

            <div class="item item-with-border item-icon-right item-small-icon">
                <p class="item-caption">Participation</p>
                <p class="item-text">{{pool.getPoolParticipation()}}</p>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.tickets', {edit: true})"></i>
            </div>

            <div ng-if="pool.poolObj.paypal" class="item item-with-border item-input item-icon-right item-small-icon">
                <p class="input-label item-caption">Paypal</p>
                <p class="item-text"><a ng-click="navigate('pool.money', {edit: true})">{{pool.poolObj.paypal}}</a></p>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.money', {edit: true})"></i>
            </div>

            <div class="item item-text-wrap item-with-border item-icon-right item-small-icon item-top-divider">
                <p class="item-caption">Rules</p>
                <p class="item-text">{{pool.poolObj.rules}}</p>
                <i class="icon ion-edit pool-review-icon" ng-click="navigate('pool.rules', {edit: true})"></i>
            </div>

        </ion-list>


    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <button class="button button-full-rounded button-positive m10"
                ng-click="pool.savePool()">
            {{pool.poolObj.id ? 'SAVE POOL INFO' : 'CONFIRM AND CREATE POOL'}}
        </button>
    </ion-footer-bar>
</ion-view>