<ion-view>
    <ion-nav-title>
        Pool description
    </ion-nav-title>
    <ion-content class="padding content-container">
        <h4 ng-if="!pool.isEdit" class="text-center">Please describe the pool shortly</h4>

        <label class="item item-input" style="padding: 22px 8px 40px 8px;">
            <textarea placeholder="Description" ng-model="pool.poolObj.description" rows="1" msd-elastic
                      focus-me required></textarea>
        </label>

        <button class="button button-full-rounded button-positive"
                ng-click="pool.isEdit ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.location')"
                ng-disabled="!pool.poolObj.description.length">
            {{pool.isEdit ? 'SAVE' : 'CONTINUE'}}
        </button>
        <button class="button full-image button-clear button-positive"
                ng-if="!pool.poolObj.description.length"
                ng-click="pool.isEdit ? navigate('pool.review', null, null, {edited: true}) : navigate('pool.location')">
            {{pool.isEdit ? 'Cancel' : 'Skip'}}
        </button>
    </ion-content>
</ion-view>