<ion-view>
    <ion-nav-title>
        Pool type
    </ion-nav-title>
    <ion-content class="padding content-container">
        <h4 ng-if="!pool.isEdit" class="text-center">What type of pool is it?</h4>

        <button class="button button-full-rounded button-positive mt20" ng-click="pool.setPoolType(false)">
            PUBLIC
        </button>
        <button class="button button-full-rounded button-clear button-positive" ng-click="pool.setPoolType(true)">
            PRIVATE
        </button>
    </ion-content>
</ion-view>