<ion-view>
    <ion-nav-title>
        Pool master app
    </ion-nav-title>
    <ion-content class="padding content-container">
        <form name="$parent.start.loginForm" novalidate="">
            <div class="content-container">
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon" ng-class="{'icon-active': start.user.email}"></i>
                    <input type="email" placeholder="Email" ng-model="start.user.email" required focus-me>
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon" ng-class="{'icon-active': start.user.password}"></i>
                    <input type="password" placeholder="Password" ng-model="start.user.password" required
                           pattern=".{6,}">
                </label>
            </div>

            <button type="submit"
                    ng-disabled="start.loginForm.$invalid"
                    class="button button-full-rounded button-positive"
                    ng-click="start.loginUser(start.loginForm)">CONTINUE
            </button>
        </form>
    </ion-content>
</ion-view>